<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Koelkast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <style>
    .custom_button {
      border: none;
      padding: 100px 100px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 64px;
      margin: 4px 2px;
      cursor: pointer;
    }
    .update_btn {
      width: 7em;
    }
    .temp_input {
      height: 1em;
    }
</style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col text-center"><br>
            <h1>KOELKAST</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <span>
            <input type="button" {% if active == 0 %} onclick="window.location.href='/start';" class="custom_button btn-success custom_button" value="Aan"/>{% else %} onclick="window.location.href='/stop';" class="custom_button btn btn-danger" value="Uit"/>{% endif %}
            </span>
            <br><br>
            Nu: {{ current_temp }}°C
            <br><br>
            <form action="" method="post">
              {{ form.hidden_tag() }}
              Doel:{{ form.temperature(size="2", required="required") }}°C<br>
              <input type="submit" size="5" value="Update"{% if active == 0 %} class="btn btn-outline-success update_btn">{% else %} class="btn btn-outline-danger update_btn">{% endif %}
            </form>
        </div>
    </div>

</div>

</body>
</html>